*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#userInformation{
    width: 90%;
    height: 300px;
    border: 1px solid;
}
.showPosts{
    width: 90%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
ul{
    list-style-type: none;
}
.hidePosts{
    display: none;
}
a{
    text-decoration: none;
}
button{
    width: 90%;
}