*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#userInformation{
    width: 90%;
    border: 1px solid;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}
.divInfo{
    margin-left: 10px;
}
.userDetails{
    margin-left: 10px;
    color: dodgerblue ;
}
.showPosts{
    width: 1600px;
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
}
.postDiv{
    width: 750px;
    height: 50px;
    border: 1px solid black;
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: black;
    border-radius: 5px;
}
.postDiv:hover {
    transform: translateY(-3px);
    color: dodgerblue ;
}

.hidePosts{
    display: none;
}
a{
    text-decoration: none;
}
button {
    margin-top: 10px;
    background-color: #37435e;
    color: #e2e4ea;
    border: none;
    border-radius: 8px;
    width: 90%;
    height: 45px;
    transition: .3s;
}

button:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #ffffff;
}
h1{
    margin-top: 10px;
}
