*{
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
    font-family: monospace;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#postInfoSection{
    width: 90%;
    border: 1px solid;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
}
#postInfoSection>div{
    width: 100%;
    margin-left: 10px;
}
#postInfo{
    color: dodgerblue ;
    margin-left: 10px;
}
#commentsOfPost{
    width: 1500px;
    display: flex;
    flex-wrap: wrap;
}
h1{
    margin-top: 10px;
}
.comment{
    width: 370px;
    border: 1px solid;
    padding: 20px 0 30px 10px;
    border-radius: 5px;
    height: 200px;
    margin-top: 20px;
    box-sizing: border-box;
}
.comment>div>span{
    color: dodgerblue ;
}